<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.customApplication</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.applicationBase</string>
        <string>com.apple.dt.unit.iosBase_Definitions</string>
        <string>com.apple.dt.unit.crossPlatformBase</string>
        <string>com.apple.dt.unit.languageChoice</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Platforms</key>
    <array>
        <string>com.apple.platform.iphoneos</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.iosApplicationTarget</string>
            <key>SharedSettings</key>
            <dict>
                <key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
                <string>AppIcon</string>
                <key>LD_RUNPATH_SEARCH_PATHS</key>
                <string>$(inherited) @executable_path/Frameworks</string>
                <key>TARGETED_DEVICE_FAMILY</key>
                <string>1,2</string>
                <key>SDKROOT</key>
                <string>iphoneos</string>
                <key>IPHONEOS_DEPLOYMENT_TARGET</key>
                <string>latest_iphoneos</string>
                <key>ENABLE_PREVIEWS</key>
                <string>YES</string>
                <key>IPHONEOS_DEPLOYMENT_TARGET</key>
                <string>14.0</string>
            </dict>
            <key>Configurations</key>
            <dict>
                <key>Release</key>
                <dict>
                    <key>VALIDATE_PRODUCT</key>
                    <string>YES</string>
                </dict>
            </dict>
        </dict>
    </array>
    
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Swift</key>
                <dict>
                    <key>RequiredOptions</key>
                    <dict>
                        <key>appLifecycle</key>
                        <string>Cocoa</string>
                    </dict>
                    <key>Nodes</key>
                    <array>
                        <string>Info.plist:iPhone</string>
                        <string>Info.plist:UIRequiredDeviceCapabilities:base</string>
                        <string>Info.plist:UISupportedInterfaceOrientations~iPhone</string>
                        <string>Info.plist:UISupportedInterfaceOrientations~iPad</string>
                        <string>Info.plist:UIApplicationSupportsIndirectInputEvents</string>
                        <string>Info.plist:UILaunchScreen</string>

                        <string>Info.plist:UIMainStoryboardFile</string>
                        <string>Base.lproj/Main.storyboard</string>
                        <string>Info.plist:LaunchScreen</string>
                        <string>Base.lproj/LaunchScreen.storyboard</string>

                        <string>AppDelegate.swift:imports:importCocoa</string>
                        <string>AppDelegate.swift:UIApplicationMain</string>
                        <string>AppDelegate.swift:implementation(AppDelegate: UIResponder, UIApplicationDelegate)</string>
                        <string>AppDelegate.swift:implementation:properties:window</string>
                        <string>AppDelegate.swift:implementation:properties:coordinator</string>
                        <string>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions(func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?\) -&gt; Bool)</string>
                        <string>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</string>
                        <string>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:return</string>

                        <string>Sources/Coordinators/AppCoordinator.swift</string>
                        <string>Sources/MVVM.swift</string>
                        <string>Sources/DI/Dependency.swift</string>
                        <string>Sources/DI/Injector.swift</string>
                        <string>Sources/DI/ServiceLocator.swift</string>
                        <string>Sources/Utils/CoordinatorCore/Coordinator.swift</string>
                        <string>Sources/Utils/CoordinatorCore/NavigationCoordinator.swift</string>
                        <string>Sources/Utils/CoordinatorCore/TabBarCoordinator.swift</string>
                        <string>Sources/Utils/CoordinatorCore/ViewControllerCoordinator.swift</string>
                        <string>Sources/Utils/CoordinatorCore/WindowCoordinator.swift</string>
                        <string>Resources/Assets.xcassets</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Base.lproj/Main.storyboard</key>
                        <dict>
                            <key>Path</key>
                            <string>Main.storyboard</string>
                            <key>SortOrder</key>
                            <integer>99</integer>
                        </dict>


                        <key>Sources/Utils/CoordinatorCore/Coordinator.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Sources</string>
                                <string>Utils</string>
                                <string>CoordinatorCore</string>
                            </array>
                            <key>Path</key>
                            <string>CoordinatorCore/Coordinator.swift</string>
                        </dict>
                        <key>Sources/Utils/CoordinatorCore/NavigationCoordinator.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Sources</string>
                                <string>Utils</string>
                                <string>CoordinatorCore</string>
                            </array>
                            <key>Path</key>
                            <string>CoordinatorCore/NavigationCoordinator.swift</string>
                        </dict>
                        <key>Sources/Utils/CoordinatorCore/TabBarCoordinator.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Sources</string>
                                <string>Utils</string>
                                <string>CoordinatorCore</string>
                            </array>
                            <key>Path</key>
                            <string>CoordinatorCore/TabBarCoordinator.swift</string>
                        </dict>
                        <key>Sources/Utils/CoordinatorCore/ViewControllerCoordinator.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Sources</string>
                                <string>Utils</string>
                                <string>CoordinatorCore</string>
                            </array>
                            <key>Path</key>
                            <string>CoordinatorCore/ViewControllerCoordinator.swift</string>
                        </dict>
                        <key>Sources/Utils/CoordinatorCore/WindowCoordinator.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Sources</string>
                                <string>Utils</string>
                                <string>CoordinatorCore</string>
                            </array>
                            <key>Path</key>
                            <string>CoordinatorCore/WindowCoordinator.swift</string>
                        </dict>
                        <key>Sources/Coordinators/AppCoordinator.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Sources</string>
                                <string>Coordinators</string>
                            </array>
                            <key>Path</key>
                            <string>AppCoordinator.swift</string>
                        </dict>
                        <key>Sources/MVVM.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Sources</string>
                            </array>
                            <key>Path</key>
                            <string>MVVM.swift</string>
                        </dict>
                        <key>Sources/DI/Dependency.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Sources</string>
                                <string>DI</string>
                            </array>
                            <key>Path</key>
                            <string>DI/Dependency.swift</string>
                        </dict>
                        <key>Sources/DI/Injector.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Sources</string>
                                <string>DI</string>
                            </array>
                            <key>Path</key>
                            <string>DI/Injector.swift</string>
                        </dict>
                        <key>Sources/DI/ServiceLocator.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Sources</string>
                                <string>DI</string>
                            </array>
                            <key>Path</key>
                            <string>DI/ServiceLocator.swift</string>
                        </dict>
                        <key>Resources/Assets.xcassets</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Resources</string>
                            </array>
                            <key>Path</key>
                            <string>Resources/Assets.xcassets</string>
                            <key>SortOrder</key>
                            <integer>110</integer>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.iosApplicationTarget</string>
                            </array>
                            <key>AssetGeneration</key>
                            <array>
                                <dict>
                                    <key>Type</key>
                                    <string>appicon</string>
                                    <key>Name</key>
                                    <string>AppIcon</string>
                                    <key>Platforms</key>
                                    <dict>
                                        <key>iOS</key>
                                        <string>true</string>
                                    </dict>
                                </dict>
                            </array>
                        </dict>

                        <key>Info.plist:iPhone</key>
                        <string><![CDATA[<key>LSRequiresIPhoneOS</key>
                <true/>
                ]]></string>
                        <key>Info.plist:UILaunchScreen</key>
                        <string><![CDATA[<key>UILaunchScreen</key>
                <dict/>
                ]]></string>
                        <key>Info.plist:UIRequiredDeviceCapabilities</key>
                        <dict>
                            <key>Beginning</key>
                            <string><![CDATA[<key>UIRequiredDeviceCapabilities</key>
                <array>]]></string>
                            <key>End</key>
                            <string><![CDATA[</array>]]></string>
                            <key>Indent</key>
                            <integer>1</integer>
                        </dict>
                        <key>Info.plist:UIRequiredDeviceCapabilities:base</key>
                        <string><![CDATA[<string>armv7</string>]]></string>
                        <key>Info.plist:statusBarTintForNavBar</key>
                        <string><![CDATA[<key>UIStatusBarTintParameters</key>
                <dict>
                    <key>UINavigationBar</key>
                    <dict>
                        <key>Style</key>
                        <string>UIBarStyleDefault</string>
                        <key>Translucent</key>
                        <false/>
                    </dict>
                </dict>
                ]]></string>
                        <key>Info.plist:UIStatusBarHidden</key>
                        <string><![CDATA[<key>UIStatusBarHidden</key>
                <true/>
                ]]></string>
                        <key>Info.plist:UIApplicationSupportsIndirectInputEvents</key>
                        <string><![CDATA[<key>UIApplicationSupportsIndirectInputEvents</key>
                <true/>
                ]]></string>
                        <key>Info.plist:LaunchScreen</key>
                        <string><![CDATA[<key>UILaunchStoryboardName</key>
                <string>LaunchScreen</string>
                ]]></string>
                        <key>Info.plist:UIMainStoryboardFile</key>
                        <string><![CDATA[<key>UIMainStoryboardFile</key>
                <string>Main</string>
                ]]></string>
                        <key>Base.lproj/LaunchScreen.storyboard</key>
                        <dict>
                            <key>Path</key>
                            <string>LaunchScreen.storyboard</string>
                            <key>SortOrder</key>
                            <integer>101</integer>
                        </dict>

                        <key>AppDelegate.swift:UIApplicationMain</key>
                        <string>@UIApplicationMain</string>
                        <key>AppDelegate.swift:implementation:properties:window</key>
                        <string>var window: UIWindow?</string>
                        <key>AppDelegate.swift:implementation:properties:coordinator</key>
                        <string>private var coordinator: AppCoordinator!</string>
                        <key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
                        <string>
Dependency.shared.configure()

window = UIWindow(frame: UIScreen.main.bounds)
window?.makeKeyAndVisible()

coordinator = AppCoordinator(container: window!)
coordinator.start()</string>
                        <key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:return</key>
                        <string>return true</string>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
